
*{
  margin: 0;
  padding: 0;
}


body{
  background-color: rgba(224, 216, 218, 0.24);
}

nav{
  background-color:rgba(236, 227, 228, 0.082);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  justify-content: center;
  gap: 1rem;
}


.recipes-list{
  margin: 5rem;
}


.recipe-box{
  width: 20rem;
  height: 18rem;
  text-align: center;
}

.recipe-box img{
  width: 19.8rem;
  height : 14rem;
}


.grid a{
  text-decoration: none;
  color: black;
}


.recipe-page{
  margin: 4rem;
  text-align: center;
  background-color: rgba(224, 216, 218, 0.527);
}

.recipe-page img{
  width: 60%;
  height: 400px;
  object-fit: cover;
}

.steps-box{
  width: 100%;
}